<!DOCTYPE html>
<html>
<head>
    <title>Техническая поддержка КГБУЗ "ГКП №3" МЗ ХК</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Информационная система регистрации обращений</h1> 
      <a href="/login"><h2>Вход в систему</h2></a>
     <h2>Регистрация обращения</h2>
     <form action="/createNewSupportRequest" method="POST" required>
        <label>Кабинет</label>
        <input name="location" placeholder="Укажите номер кабинета" required/><br><br>
        <label>Описание</label>
        <input name="supportRequestDescription" placeholder="Подробно опишите проблему" required /><br><br>
        <input type="submit" value="Отправить запрос" />
     </form>


</body>
</html>