<!DOCTYPE html>
<html>
<head>
    <title>Техническая поддержка КГБУЗ "ГКП №3" МЗ ХК</title>
    <meta charset="utf-8" />
    <style>
    .requestForm{
        background-color: aquamarine;
        height: fit-content;
        width: fit-content;
    }
    legend{
        background-color: azure;
    }
    </style>
</head>
<body>
    <h1>Информационная система регистрации обращений</h1> 
      <a href="/login"><h2>Вход в систему</h2></a>
     <fieldset class="requestForm">
     <legend>Регистрация обращения</legend>
     <form action="/createNewSupportRequest" method="POST"required>
        <label>Укажите кабинет / место:</label></p>
        <input name="location" placeholder="Укажите номер кабинета" required/><br><br>
        <label>Укажите проблемную область:</label></p>
        <select name="problemType" placeholder="Выберите проблему из списка">
            <option>-</option>
            <option>Принтер / МФУ</option>
            <option>Компьютер</option>
            <option>Монитор</option>
            <option>Источник бесперебойного питания</option>
            <option>Клавиатура</option>
            <option>Мышка</option>
            <option>Медиалог</option>
            <option>Электронная очередь</option>
            <option>Инфомат (запись к врачам)</option>
            <option>Другое</option>
        </select></p>
        <label>Описание проблемы:</label></p>
        <textarea cols="80" rows="10" name="supportRequestDescription" placeholder="Подробно опишите проблему" required></textarea><br><br>
        <input type="submit" value="Отправить запрос"/>
     </form>
     </fieldset>
<script></script>
</body>
</html>