<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Список заявок</title>
    <style>
      #display {
        background-color: rgb(30, 119, 192);
      }
      .des{
          background-color: rgb(160, 214, 173); 
          text-align:left;
          }
    </style>
</head>

<body onload="loaded()">
    <h2><a href="/users/create">Управление пользователями</a></h2>
    <h2>Список заявок</h2>
     <table>
         <tr><th>Номер заявки</th>
             <th>Тип проблемы</th>
             <th>Приоритет</th>
             <th></th>
             <th>Подробная информация</th>
         </tr>
            <tr>
              <td><div id="display"></div></td>
              <td><div id="displayType"></div></td> 
              <td><div id="displayPriority"></div></td> 
              <td>
                <div class="des">Дата создания: </div>
                <div class="des">Кабинет/Место: </div>
                <div class="des">Кем создано: </div>

                <div class="des">Описание проблемы: </div>
                <div class="des">Тип проблемы: </div>
                <div class="des">Приоритет: </div>

                <div class="des">Последнее обновление: </div>
                <div class="des">Кем обновлено: </div>

                <div class="des">Специалист: </div>
                <div class="des">Статус: </div>
              </td>
              <td>
                <form onclick="postUpdateRequestForm()">
                <div id="displayCreateDate"></div>
                <div id="displayCreateLocation"></div>
                <div id="displayCreateUser"></div>

                <div id="displayProblemDescription"></div>
                <div id="displayProblemType" contenteditable='true'></div>
                <div id="displayProblemPriority" contenteditable='true'></div>

                <div id="displayModifedDate"></div>
                <div id="displayModifedByUser"></div>

                <div id="displaySpecialist" contenteditable='true'></div>
                <div id="displayStatus" contenteditable='true'></div>
                 </form>
              </td>  
     </table>
<script>
var listDisplay = document.getElementById('display');
var listDisplayType = document.getElementById('displayType');
var listDisplayPriority = document.getElementById('displayPriority');
function loaded(){


  fetch('http://localhost:3000/workspace/getRequests')

  .then(response => response.json()) // преобразуем ответ в json

  .then(data => {
    //const json = data.json();
   // console.log(data) // выводим в консоль результат выполнения response.json()
    var i = 0;
    while(i<data.length){
      let div = document.createElement('div');
      let div2 = document.createElement('div');
      let div3 = document.createElement('div');

      div.textContent = data[i]._id;
      div2.textContent = data[i].problemType;
      div3.textContent = data[i].problemPriority;

      div.setAttribute('сreateDate', data[i].сreateDate);
      div.setAttribute('CreateLocation', data[i].createLocation);
      div.setAttribute('CreateUser', data[i].createUser);

      div.setAttribute('problemDescription', data[i].problemDescription);
      div.setAttribute('ProblemType', data[i].problemType);
      div.setAttribute('ProblemPriority', data[i].problemPriority);

      div.setAttribute('ModifedDate', data[i].modifedDate);
      div.setAttribute('ModifedByUser', data[i].modifedByUser);

      div.setAttribute('Specialist', data[i].Specialist);
      div.setAttribute('Status', data[i].Status);
      
      listDisplay.appendChild(div);
      listDisplayType.appendChild(div2);
      listDisplayPriority.appendChild(div3);

      div.onclick = () => {
      clicked(div);
    }
      div2.onclick = () => {
      clicked(div);
    }
      div3.onclick = () => {
      clicked(div);
    }
     // alert(data[i]._id)
      i++;
    }
    
  
  })

  .catch(error => console.error(error))
}

function clicked(div) {
 // for (const child of document.getElementById('display').children)
 //   child.classList.remove('active');
    
 // var value = div.getAttribute('data-value');
 // document.getElementById("display").textContent = value;
 // div.classList.add('active');
 // var problemDescription = div.getAttribute('problemDescription');
 // var сreateDate = div.getAttribute('сreateDate');

  document.getElementById("displayCreateDate").textContent = div.getAttribute('сreateDate');
  document.getElementById("displayCreateLocation").textContent = div.getAttribute('CreateLocation');
  document.getElementById("displayCreateUser").textContent = div.getAttribute('CreateUser');

  document.getElementById("displayProblemDescription").textContent = div.getAttribute('problemDescription');
  document.getElementById("displayProblemType").textContent = div.getAttribute('ProblemType');
  document.getElementById("displayProblemPriority").textContent = div.getAttribute('ProblemPriority');

  document.getElementById("displayModifedDate").textContent = div.getAttribute('ModifedDate');
  document.getElementById("displayModifedByUser").textContent = div.getAttribute('ModifedByUser');
  
  document.getElementById("displaySpecialist").textContent = div.getAttribute('Specialist');
  document.getElementById("displayStatus").textContent = div.getAttribute('Status');

}

function postUpdateRequestForm(){
//alert('up');
}

</script>
</body>
<html>
