<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Список заявок</title>
  
    <style>
      #display {
       // background-color: rgb(30, 119, 192);
      }
      .selectedDisplay:hover{
        background-color: blueviolet;
      }
      .requestList1{
        font-size: large;
        float:left;
        background-color: grey;
        width: fit-content;
        height: 80%;
        overflow: auto;
      }
      .requestList2{
        font-size: x-large;
        border: 1px solid grey;
        width:fit-content;
        overflow: auto;
      }
      .requestList3{
        width: fit-content;
        overflow: auto;
      }
      .requestList4{
        width:fit-content;
        overflow: auto;
      }
      .divButton{
        text-align: right;
      }
      #modifyButton{
        background-color: burlywood;
      }

    </style>
</head>

<body onload="loaded()">
    <h2>{{user.FIO}} [{{user.login}}] <a href="/logoff">[Выход]</a> <a href="/users/create">[Управление пользователями]</a></h2>
    <h2>Список заявок</h2>
      <select onchange="loaded()" id="listFilter">
        <option value="all">Все заявки</option>
        <option value="new">Новые</option>
        <option value="my">Мои</option>
      </select></p>
  <div class="requestList1">
     <table>
           <tr>
             <th>Тип проблемы</th>
             <th>Приоритет</th>
           </tr>
            <tr>
              <td><div id="displayType" ></div></td> 
              <td><div id="displayPriority" ></div></td> 
            </tr>
     </table>
  </div>
  <div class="requestList2">
    <table> <td class="requestList3">
                <div class="des">ID заявки: </div>
                <div class="des">Дата создания: </div>
                <div class="des">Кабинет/Место: </div>
                <div class="des">Кем создано: </div>

                <div class="des">Описание проблемы: </div>
                <div class="des">Тип проблемы: </div>
                <div class="des">Приоритет: </div>

                <div class="des">Последнее обновление: </div>
                <div class="des">Кем обновлено: </div>

                <div class="des">Специалист: </div>
                <div class="des">Статус: </div></p>
            </td>
            <td class="requestList4">
                <form onclick="postUpdateRequestForm()">
                <div id="displayID"></div>
                <div id="displayCreateDate"></div>
                <div id="displayCreateLocation"></div>
                <div id="displayCreateUser"></div>

                <div id="displayProblemDescription"></div>
                <div id="displayProblemType" contenteditable='true'></div>
                <div id="displayProblemPriority" contenteditable='true'></div>

                <div id="displayModifedDate"></div>
                <div id="displayModifedByUser"></div>

                <div id="displaySpecialist" contenteditable='true'></div>
                <div id="displayStatus" contenteditable='true'></div>
                <div class="divButton"><input id="modifyButton" type="button" value="Сохранить изменения" hidden/></div>
                
                 </form>
            </td>
    </table>
 </div>

<script>
var listDisplayType = document.getElementById('displayType');
var listDisplayPriority = document.getElementById('displayPriority');



function loaded(){

  fetch('http://localhost:3000/workspace/getRequests')

  .then(response => response.json()) // преобразуем ответ в json

  .then(data => {
    //const json = data.json();
   // console.log(data) // выводим в консоль результат выполнения response.json()
    var i = 0;
       if (document.getElementById("listFilter").value == 'all'){
        alert('all');
      } else if(document.getElementById("listFilter").value == 'new'){
        alert('new');
      } else if(document.getElementById("listFilter").value == 'my'){
        alert('my');
      }

    while(i<data.length){
   
      let div = document.createElement('div');
      let div2 = document.createElement('div');

      div.textContent = data[i].problemType;
      div2.textContent = data[i].problemPriority;
      
      div.setAttribute('ID',data[i]._id)
      div.setAttribute('сreateDate', data[i].сreateDate);
      div.setAttribute('CreateLocation', data[i].createLocation);
      div.setAttribute('CreateUser', data[i].createUser);

      div.setAttribute('problemDescription', data[i].problemDescription);
      div.setAttribute('ProblemType', data[i].problemType);
      div.setAttribute('ProblemPriority', data[i].problemPriority);

      div.setAttribute('ModifedDate', data[i].modifedDate);
      div.setAttribute('ModifedByUser', data[i].modifedByUser);

      div.setAttribute('Specialist', data[i].Specialist);
      div.setAttribute('Status', data[i].Status);
      
      listDisplayType.appendChild(div);
      listDisplayPriority.appendChild(div2);

      div.classList="selectedDisplay"
      div.onclick = () => {
      clicked(div);
    }
      div2.onclick = () => {
      clicked(div);
    }
     // alert(data[i]._id)
      i++;
    }
    
  
  })

  .catch(error => console.error(error))
}

function clicked(div) {

  document.getElementById("displayID").textContent = div.getAttribute('ID');
  document.getElementById("displayCreateDate").textContent = div.getAttribute('сreateDate');
  document.getElementById("displayCreateLocation").textContent = div.getAttribute('CreateLocation');
  document.getElementById("displayCreateUser").textContent = div.getAttribute('CreateUser');

  document.getElementById("displayProblemDescription").textContent = div.getAttribute('problemDescription');
  document.getElementById("displayProblemType").textContent = div.getAttribute('ProblemType');
  document.getElementById("displayProblemPriority").textContent = div.getAttribute('ProblemPriority');

  document.getElementById("displayModifedDate").textContent = div.getAttribute('ModifedDate');
  document.getElementById("displayModifedByUser").textContent = div.getAttribute('ModifedByUser');
  
  document.getElementById("displaySpecialist").textContent = div.getAttribute('Specialist');
  document.getElementById("displayStatus").textContent = div.getAttribute('Status');

  document.getElementById("modifyButton").hidden = false;
}

function postUpdateRequestForm(){
//alert('up');
}

</script>
</body>
<html>
