<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Список заявок</title>

  <style>
    body {
      background-color: white;
      font-family: 'Times New Roman', Times, serif
    }

    nav {
      background-color: rgb(70, 70, 70);
      text-align: center;
      color: rgb(242, 242, 242);
      height: 20%;
    }

    A:link,
    A:visited,
    A:active,
    A:hover {
      font-weight: bold;
      color: rgb(242, 242, 242);
      text-decoration: none;
    }

    .mainForm {
      position: fixed;
      /* or absolute */
      top: 35%;
      left: 50%;
      width: 350px;
      height: 850px;
      margin: -175px 0 0 -425px;
    }

    .requestForm {
      background-color: rgb(242, 242, 242);
      height: 450px;
      width: 850px;
      border-radius: 2%;
      border: 1px solid
    }

    #display {
      // background-color: rgb(30, 119, 192);
    }

    .selectedDisplay:hover {
      background-color: blueviolet;
    }

    .requestList1 {
      background-color: rgb(242, 242, 242);
      font-size: large;
      float: left;
      width: 300px;
      height: 350px;
      overflow: scroll;
    }

    .requestList2 {
      background-color: rgb(242, 242, 242);
      font-size: large;
      width: 550px;
      overflow: auto;
    }

    .requestList3 {
      width: 250px;
      overflow: auto;
    }

    .requestList4 {
      width: 300px;
      overflow: auto;
    }

    .divButton {
      text-align: right;
    }

    H4 {
      text-align: center;
    }

    #loginDiv {
      text-align: right;
      color: rgb(70, 70, 70);
    }

    #modifyButton {}

    .modify {
      color: brown
    }
  </style>
</head>

<body onload="loaded()">
  <nav>
    <h1>Информационная система поддержки пользователей</h1>

    <div><a href="/homepage">[Домашняя страница]</a> <a href="/users/create">[Новый пользователь]</a> <a
        href="/users">[Список пользователей]</a> <a href="/logoff">[Изменение пользователя]</a> <a
        href="/logoff">[Выход]</a></div>
  </nav>

  <div id="loginDiv">{{user.FIO}} [{{user.login}}]
  </div>
  </p>

  <div class="mainForm">
    <fieldset class="requestForm">
      <h4>СПИСОК ЗАЯВОК</h4>
      <select onchange="loaded()" id="listFilter">
        <option value="all">Все заявки</option>
        <option value="new">Новые</option>
        <option value={{user.login}}>Мои</option>
      </select>
      <hr>
      </hr>
      <div class="requestList1">
        <table>
          <tr>
            <th>Тип проблемы</th>
            <th>Приоритет</th>
          </tr>
          <tr>
            <td>
              <div id="displayType"></div>
            </td>
            <td>
              <div id="displayPriority"></div>
            </td>
          </tr>
        </table>
      </div>
      <div class="requestList2">
        <table>
          <td class="requestList3">
            <div class="des">ID заявки: </div>
            <div class="des">Дата создания: </div>
            <div class="des">Кабинет/Место: </div>
            <div class="des">Кем создано: </div>

            <div class="des">Описание проблемы: </div>
            <div class="des">Тип проблемы: </div>
            <div class="des">Приоритет: </div>

            <div class="des">Специалист: </div>
            <div class="des">Статус: </div>

            <div class="des">Последнее обновление: </div>
            <div class="des">Кем обновлено: </div>
            </p>
          </td>
          <td class="requestList4">
            <div id="displayID"></div>
            <div id="displayCreateDate"></div>
            <div id="displayCreateLocation"></div>
            <div id="displayCreateUser"></div>

            <div id="displayProblemDescription"></div>
            <div id="displayProblemType" contenteditable='true' class="modify"></div>
            <div id="displayProblemPriority" contenteditable='true' class="modify"></div>

            <div id="displaySpecialist" contenteditable='true' class="modify"></div>
            <div id="displayStatus" contenteditable='true' class="modify"></div>

            <div id="displayModifedDate"></div>
            <div id="displayModifedByUser"></div>
            <div class="divButton"><input id="modifyButton" type="button" value="Сохранить изменения" onclick="modify()"
                hidden /></div>
          </td>
        </table>
      </div>
    </fieldset>
  </div>


  <script>
    var listDisplayType = document.getElementById('displayType');
    var listDisplayPriority = document.getElementById('displayPriority');

    function modify() {

      let modifyJson = {
        _id: document.getElementById('displayID').textContent,
        problemType: document.getElementById('displayProblemType').textContent,
        problemPriority: document.getElementById('displayProblemPriority').textContent,
        Specialist: document.getElementById('displaySpecialist').textContent,
        Status: document.getElementById('displayStatus').textContent
      }

      let options = {
        method: 'POST',
        body: JSON.stringify(modifyJson),
        headers: {
          'Content-Type': 'application/json'
        }
      }

      fetch('http://localhost:3000/createNewSupportRequest/modify', options)
        .then(res => res.json())
        .then(res => console.log(res));

      loaded();
    };


    function loaded() {

      fetch('http://localhost:3000/workspace/getRequests')

        .then(response => response.json()) // преобразуем ответ в json

        .then(data => {
          //const json = data.json();
          // console.log(data) // выводим в консоль результат выполнения response.json()


          // Зачистка списка запросов
          while (listDisplayType.firstChild) {
            listDisplayType.removeChild(listDisplayType.firstChild);
          }
          while (listDisplayPriority.firstChild) {
            listDisplayPriority.removeChild(listDisplayPriority.firstChild);
          }

          var i = 0;

          while (i < data.length) {
            if (document.getElementById("listFilter").value == "new" && data[i].Status != 'В обработке') {
              i++;
              continue;
            };
            if (document.getElementById("listFilter").value != "all" && document.getElementById("listFilter").value != "new" && data[i].Specialist != document.getElementById("listFilter").value) {
              i++;
              continue;
            };

            let div = document.createElement('div');
            let div2 = document.createElement('div');

            div.textContent = data[i].problemType;
            div2.textContent = data[i].problemPriority;

            div.setAttribute('ID', data[i]._id)
            div.setAttribute('сreateDate', data[i].сreateDate);
            div.setAttribute('CreateLocation', data[i].createLocation);
            div.setAttribute('CreateUser', data[i].createUser);

            div.setAttribute('problemDescription', data[i].problemDescription);
            div.setAttribute('ProblemType', data[i].problemType);
            div.setAttribute('ProblemPriority', data[i].problemPriority);

            div.setAttribute('ModifedDate', data[i].modifedDate);
            div.setAttribute('ModifedByUser', data[i].modifedByUser);

            div.setAttribute('Specialist', data[i].Specialist);
            div.setAttribute('Status', data[i].Status);

            listDisplayType.appendChild(div);
            listDisplayPriority.appendChild(div2);

            div.classList = "selectedDisplay"
            div2.classList = "selectedDisplay"
            div.onclick = () => {
              clicked(div);
            }
            div2.onclick = () => {
              clicked(div);
            }
            i++;
          }


        })

        .catch(error => console.error(error))
      clearInfo();
    }

    function clicked(div) {

      document.getElementById("displayID").textContent = div.getAttribute('ID');
      document.getElementById("displayCreateDate").textContent = div.getAttribute('сreateDate');
      document.getElementById("displayCreateLocation").textContent = div.getAttribute('CreateLocation');
      document.getElementById("displayCreateUser").textContent = div.getAttribute('CreateUser');

      document.getElementById("displayProblemDescription").textContent = div.getAttribute('problemDescription');
      document.getElementById("displayProblemType").textContent = div.getAttribute('ProblemType');
      document.getElementById("displayProblemPriority").textContent = div.getAttribute('ProblemPriority');

      document.getElementById("displayModifedDate").textContent = div.getAttribute('ModifedDate');
      document.getElementById("displayModifedByUser").textContent = div.getAttribute('ModifedByUser');

      document.getElementById("displaySpecialist").textContent = div.getAttribute('Specialist');
      document.getElementById("displayStatus").textContent = div.getAttribute('Status');

      document.getElementById("modifyButton").hidden = false;

    }

    function clearInfo(div) {

      document.getElementById("displayID").textContent = '';
      document.getElementById("displayCreateDate").textContent = '';
      document.getElementById("displayCreateLocation").textContent = '';
      document.getElementById("displayCreateUser").textContent = '';

      document.getElementById("displayProblemDescription").textContent = '';
      document.getElementById("displayProblemType").textContent = '';
      document.getElementById("displayProblemPriority").textContent = '';

      document.getElementById("displayModifedDate").textContent = '';
      document.getElementById("displayModifedByUser").textContent = '';

      document.getElementById("displaySpecialist").textContent = '';
      document.getElementById("displayStatus").textContent = '';

      document.getElementById("modifyButton").hidden = true;

    }

  </script>
</body>
<html>