<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Рабочая область</title>
    <style>
      #display {
        line-height: 1.5;
        letter-spacing: 0.05rem;
        padding: 1rem;
        background-color: rgb(30, 119, 192);
      }
    </style>
</head>

<body onload="loaded()">
    <h2><a href="/users/create">Управление пользователями</a></h2>
    <h2>Поиск информации о заявке</h2>
     <table>
         <tr><th>Номер заявки</th>
             <th>Приоритет проблемы</th>
         </tr>
         {{#each supportRequests}}
            <tr><td>{{this._id}}</td>
                <td>{{this.Status}}</td>                  
            </tr>
         {{/each}}
     </table>

   <div id="display"></div>

<script>
function loaded(){


  fetch('http://localhost:3000/workspace/getRequests')

  .then(response => response.json()) // преобразуем ответ в json

  .then(data => {
   // console.log(data) // выводим в консоль результат выполнения response.json()
    var i = 0
    while(i<data.length){
      alert(data[i]._id)
      i++;
    }
    
  
  })

  .catch(error => console.error(error))
}

</script>
</body>
<html>
